<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css">
    <title>SERVER</title>
</head>

<body>
    <div class="сontainer">
        <div class="row justify-content-lg-center">
            <div class="col-4">
                <p class="text-center"> CRUD ToDo </p>
                <form>
                    <div class="form-group">
                        <label for="name">НАЗВАНИЕ</label>
                        <input v-model="name" type="text" class="form-control" id="name">
                    </div>

                    <div class="form-group">
                        <label for="description"> ОПИСАНИЕ </label>
                        <textarea v-model="description" class="form-control" id="description" rows="4"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="priority"> ВАЖНОСТЬ </label>
                        <select v-model="priority" id="priority" class="form-control">
                            <option value="0"> Важно </option>
                            <option value="1"> Так себе </option>
                            <option value="2"> Пофиг </option>
                        </select>
                    </div>

                    <div class="text-center">
                        <button v-on:click="createTodo($event)" class="btn btn-success"> {{ editedIndex !== null ? 'Добавить': 'ок' }} </button>
                    </div>
                </form>
            </div>

            <div class="col-5">
                <h3> Задания </h3>
                <div v-for="(todo, index) in todos"
                     class="alert alert-success"
                    :class="{'alert-danger': todo.priority === 0, 'alert-success': todo.priority === 1, 'alert-info': todo.priority === 2}">
                    <h4 class="alert-heading"> {{ todo.name }}
                        <i @click="deleteTodo(index)" class="text-danger fa fa-close float-right"></i>
                        <i @click="updateTodo(index)" class="fa fa-pencil float-right"></i>
                        <i class="fa fa-check float-right"></i>
                    </h4>
                    <hr>
                    <p> {{todo.description}} </p>
                </div>
            </div>

        </div>
    </div>
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./script.js"></script>

</body>
</html>